.section:nth-child(2) {
    background: url('../images/products_bg.jpg') no-repeat center;
    background-size: cover;
    background-color: tomato;
}

#productPage {
    padding: 10% 0;
}

#productPage .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#productPage .page-header-container .page-header .page-heading {
    width: 50%;
}

#productPage .page-header-container .page-header .page-heading {
    font-size: 45px;
}

#productPage .page-header-container .page-header .page-subtitle {
    font-size: 45px;
    color: #ed2d34;
    margin-bottom: 20px;
}

#productPage .page-header-container .numbers-container {
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#productPage .page-header-container .numbers-container .number h4 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

#productPage .page-header-container .numbers-container .number h5 {
    font-size: 15px;
    font-weight: 400;
}


/* PRODUCT SLIDER */
#product-slider .product {
    /* width: 320px; */
    margin-top: 10%;
    text-align: center;
}

#product-slider .product img {
    width: 100%;
}

#product-slider .product h3 {
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
}

#product-slider .product .btn {
    margin: 20px auto;
}


/* MODAL STYLES */
#modal {
    width: 90%;
    border: none;
    padding: 2.5%;
    max-width: 1200px;
    /* WHY IS IT NOT IN THE ABSOLUTE CENTER? */
    /* HOW DO YOU MAKE THE BACKGROUND GREY WHEN IT SHOWS UP? */
}

/* CLOSE MODAL BUTTON */
#modal .close-btn {
    top: 20px;
    right: 30px;
    width: 30px;
    border: none;
    height: 30px;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    background: #ffffff;
}

#modal .product-details {
    display: flex;
    justify-content: space-between;
}

#modal .product-details .product-images-container {
    width: 50%;
    padding-top: 50px;
}

#modal .product-details .product-images-container .main-image {
    width: 100%;
    margin-bottom: 50px;
}

#modal .product-details .product-images-container .alt-product-images {
    display: flex;
    justify-content: space-between;
}

#modal .product-details .product-images-container .alt-product-images img {
    width: 33.33%;
    margin-right: 15px;
}

#modal .product-details .product-images-container .alt-product-images img:not(:first-child) {
    opacity: .5;
}

#modal .product-details .product-details-container {
    width: 50%;
    padding: 2.5%;
}

#modal .product-details .product-details-container .page-heading {
    font-size: 18px;
    font-weight: 600;
}

#modal .product-details .product-details-container .page-subtitle {
    font-size: 42px;
    font-weight: bold;
}

#modal .product-details .product-details-container .product-description {
    margin: 50px 0;
    font-size: 18px;
    font-weight: 300;
}

/* PRODUCT SIZE CONTAINER */
#modal .product-details .product-details-container .product-size-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#modal .product-details .product-details-container .product-size-container h6 {
    font-size: 20px;
    font-weight: 300;
    color: #ed2d34;
    margin-right: 20px;
}

#modal .product-details .product-details-container .product-size-container div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#modal .product-details .product-details-container .product-size-container div p {
    opacity: .5;
}

/* PRODUCT QUANTITY CONTAINER AND COLOR*/
#modal .product-details .product-details-container .product-quantity-and-color-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* PRODUCT QUANTITY CONTAINER */
#modal .product-details .product-details-container .product-quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px ;
}

#modal .product-details .product-details-container .product-quantity-container h6 {
    font-size: 20px;
    font-weight: 300;
    color: #ed2d34;
    margin-right: 20px;
}

#modal .product-details .product-details-container .product-quantity-container .quantity-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#modal .product-details .product-details-container .product-quantity-container .quantity-container i {
    opacity: .5;
    padding: 5px;
}

#modal .product-details .product-details-container .product-quantity-container .quantity-container input {
    width: 35px;
    opacity: .5;
    border: none;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

/* PRODUCT COLOR CONTAINER */
#modal .product-details .product-details-container .product-color-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#modal .product-details .product-details-container .product-color-container h6 {
    font-size: 20px;
    font-weight: 300;
    color: #ed2d34;
    margin-right: 20px;
}

#modal .product-details .product-details-container .product-color-container .color-container {
    display: flex;
    align-items: center;
}

#modal .product-details .product-details-container .product-color-container .color-container .box{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#modal .product-details .product-details-container .product-color-container .color-container .box.white {
    background: #ffffff;
    border: 1px solid #000000;
}

#modal .product-details .product-details-container .product-color-container .color-container .box.blue {
    background: #90cdf0;
}

#modal .product-details .product-details-container .product-color-container .color-container .box.peach {
    background: #f58357;
}

/* PRODUCT PRICE CONTAINER */
#modal .product-details .product-details-container .product-price-container .product-price {
    margin: 25px 0;
    font-size: 48px;
    color: #ed2d34;
    font-weight: bold;
}

/* PRODUCT NAVIGATION */
#modal .product-navigation {
    display: flex;
    justify-content: flex-end;
}

#modal .product-navigation button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    background: #ffffff;
    border: solid 1px #202020;
}

#modal .product-navigation button {
    font-size: 20px;
}